body {
    font-family: Arial, sans-serif;
}

.result-container {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.title {
    font-weight: bold;
}

.price {
    color: green;
}

.promotion-price {
    color: red;
}

.image img {
    width: 200px;
    height: 200px;
}